<div class="wraparound">
<h2>New Twot</h2>
<%= form_for(@user) do |f| %>
  <fieldset>
    <legend>User</legend>
    <%= f.text_field :name, placeholder: 'Handle', maxlength: 47 %>
  </fieldset>

  <fieldset>
    <legend>Twot</legend>
    <%= f.text_area :twot, rows: 2, cols: 45, placeholder: 'tel the world how smart you are' %>
  </fieldset>

  <%= f.submit "change the world" %>
<% end %>
</div>
