/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
* {
  margin:0;
}
header {
  height: 50px;
  background-color: gray;
  position: fixed;
  top: 0;
  width: 100%;
}

footer {
  height: 50px;
  background-color: gray;
  position: fixed;
  bottom: 0;
  width: 100%
}


.footer_text {
  padding-top: 20px;
  font-size: 20px;
  text-align: center;
}

.Twotter {
display: inline-block;
float: left;
}

.header_tweet{
  display: inline-block;
  float: right;
  padding-top: 15px;
  font-size: 20px;
}

.header_tweet a{
  padding-top: 10px;
  padding-right: 50px;
  text-decoration: none;
  color:white;
}

.wraparound {
  padding-top: 32px;
}

.all_users {
  padding-top: 50px;
}

.handle{
  font-size: 20px;
  color: red;
  border: 1px solid black;
  width: 200px;
}

.entire_twot{
  margin: 10px;
}

.handle a{
  text-decoration: none;
}

.twot_text {
  font-size: 20px;
  color:gray;
  border: 1px solid black;
  width: 200px;
}
