<!DOCTYPE html>
<html>
<head>
  <title>Twotter</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header><div class="Twotter"><a href="index"><img src="House_outline_16.png"></a></div><div class="header_tweet"><a href="/new">Twot</a></header>

<%= yield %>
<footer><div class="footer_text">Twot Your Mind and Save The Planet</div>
  </footer>
</body>
</html>
